@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;





.rellyImg{
    margin-top: -1.5rem;
}
  

.first-welcome-button{
    color: #FFBFBF;
    background-color: #FAFAFA;
    border: solid #e0e0e0;
    border-width: 1px 1.5px 2.5px 1.5px;
    width: 12.5rem;
    height: 2.50rem;
    border-radius: 3.125rem;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    font-weight: 500;
}

.second-welcome-button{
    background-color: #FFBFBF;
    color: #FAFAFA;
    border: solid #FF9090;
    border-width: 0px 1.5px 2.5px 1.5px;
    width: 12.5rem;
    height: 2.50rem;
    border-radius: 3.125rem;
    font-weight: 500;
}

@media screen and (max-width: 639px) {
  .background {
    background-image: url('/assets/bg-phone.jpg');
    background-size: 100vw 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .rellyImg {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .background {
    background-image: url('/assets/bg-md.jpg');
    background-size: 100vw 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .background {
    background-image: url('/assets/bg-lg.jpg');
    background-size: 100vw 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 1024px) {
  .background {
    background-image: url('/assets/bg-xl.jpg');
    background-size: 100vw 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}