@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.rellyImg{
    margin-top: -1.5rem;
}

.joinRellyBg{
    background-color: rgba(255, 191, 191, 0.8);
    
}



.formRellyBg{
    background-color: rgba(250, 250, 250, 0.8);

}

.modalBg{
    background-color: #FAFAFA;
}

.modalRounded{
    border-radius: 1.5rem;
}

.modalColor{
    background-color: rgba(224, 224, 224, 0.1);
    color: #FFABAB;
    width: 80%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
  }

.padding{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 3rem;
}

.nicknamePadding{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* Za velike ekrane (širina ekrana veća od 1200 piksela) */
@media screen and (min-width: 1200px) {
    .modalPropsDesktop {
      height: 60%;
      width: 30%;
      border-radius: 2.5rem;
    }
  
    
  }
  
  /* Za srednje velike ekrane (širina ekrana između 800 i 1200 piksela) */
  @media screen and (min-width: 800px) and (max-width: 1199px) {
    .modalPropsDesktop {
      height: 60%; /* Prilagodite prema potrebi */
      width: 40%;  /* Prilagodite prema potrebi */
      border-radius: 2rem; /* Prilagodite prema potrebi */
    }
  
    
  }
  
  /* Za male ekrane (širina ekrana manja ili jednaka 800 piksela) */
  @media screen and (max-width: 800px) {
    .modalPropsDesktop {
      height: 60%;
      width: 70%;
      border-radius: 1.5rem;
    }
  
    
  }
  

.modalWidthMobile{
    width: 100%;
    height: 100vh;
    border-radius: none;

}

.nicknameModal{
    width: 100%;
    height: 70vh;
    border-radius: none;
}
  

.first-welcome-button{
    color: #FFBFBF;
    background-color: #FAFAFA;
    border: solid #e0e0e0;
    border-width: 1px 1.5px 2.5px 1.5px;
    width: 12.5rem;
    height: 2.50rem;
    border-radius: 3.125rem;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    font-weight: 500;
}

.second-welcome-button{
    background-color: #FFBFBF;
    color: #FAFAFA;
    border: solid #FF9090;
    border-width: 0px 1.5px 2.5px 1.5px;
    width: 12.5rem;
    height: 2.50rem;
    border-radius: 3.125rem;
    font-weight: 500;
}

.rounded{
    border-radius: 2.5rem;
}


.roundedFirst{
  
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.roundedSecond{
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.customButton {
    width: 160px;
    background-color: #FAFAFA;
    border-radius: 1.5rem;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid #e0e0e0;
    border-width: 1px 1.5px 2.5px 1.5px;
  }

.customMobileButton{
    width: 160px;
    background-color: #FFBFBF;
    color: #FAFAFA;
    border-radius: 1.5rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid #FF9090;
    border-width: 0px 1.5px 2.5px 1.5px;
}
  

@media screen and (max-width: 639px) {
  .background {
    background-image: url('/assets/bg-phone.jpg');
    background-size: 100vw 110vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

 
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .background {
    background-image: url('/assets/bg-md.jpg');
    background-size: 100vw 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .background {
    background-image: url('/assets/bg-lg.jpg');
    background-size: 100vw 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 1024px) {
  .background {
    background-image: url('/assets/bg-xl.jpg');
    background-size: 100vw 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.desktop-height{
    height: 65vh;
}

